<button (click)="addNew()">Add new</button>

<div class="mapping_tool">

    <section class="map_header">
        <div class="content">
            <div class="logo_username">
                <div class="logo">
                    <p>Company logo</p>
                </div>
                <div class="username">
                    <div class="username_text"><p>Username</p></div>
                    <div class="username_icon"><img src="../../assets/images/map_img/username_icon.png"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="map_content">
        <div class="content">
            <div class="map_left_content">
                <h3>Tools</h3>
                <div class="links">
                    <div class="left_item" (click)="toggleSidebarLinks('addNode')" [class.active]="addNode">
                        <div class="icon">
                            <img src="../../assets/images/map_img/add_node_icon.png">
                        </div>
                        <p>Add node</p>
                    </div>
                    <div class="left_item" (click)="toggleSidebarLinks('addLink')" [class.active]="addLink">
                        <div class="icon">
                            <img src="../../assets/images/map_img/add_link_icon.png">
                        </div>
                        <p>Add link</p>
                    </div>
                    <div class="left_item" (click)="toggleSidebarLinks('moveNode')" [class.active]="moveNode">
                        <div class="icon">
                            <img src="../../assets/images/map_img/move_icon.png">
                        </div>
                        <p>Move node</p>
                    </div>
                    <div class="left_item">
                        <div class="icon">
                            <img src="../../assets/images/map_img/replay_icon.png">
                        </div>
                        <p>Replay</p>
                    </div>
                    <div class="left_item">
                        <div class="icon">
                            <img src="../../assets/images/map_img/transfer_icon.png">
                        </div>
                        <p>Transfer</p>
                    </div>
                    <div class="left_item">
                        <div class="icon">
                            <img src="../../assets/images/map_img/delete_node_icon.png">
                        </div>
                        <p>Delete node</p>
                    </div>
                    <div class="left_item">
                        <div class="icon">
                            <img src="../../assets/images/map_img/delete_link_icon.png">
                        </div>
                        <p>Delete link</p>
                    </div>
                    <div class="left_item">
                        <div class="icon">
                            <img src="../../assets/images/map_img/open_doc_icon.png">
                        </div>
                        <p>Open doc</p>
                    </div>
                </div>
            </div>
            <div class="content_right">
                <div class="map_right_content">
                    <h3></h3>
                    <hr>
                    <div class="content_maps" [class.moveCursor]="elClicked">
                        <svg-container containerId="svg-element" #svgContainer id="content_map" style="height:100%">
                            <svg-circle [radius]="circle.radius" [color]="circle.color"
                                        (clickEvent)="circleClicked($event)"
                                        [x]="circle.x" [y]="circle.y" *ngFor="let circle of circles"
                            ></svg-circle>
                            <!--                            <svg-line [borderSize]="line.borderSize" [borderColor]="line.borderColor"-->
                            <!--                                      [x0]="line.x0" [y0]="line.y0" [x1]="line.x1" [y1]="line.y1" *ngFor="let line of lines"></svg-line>-->
                            <!--                            <svg-rect [height]="rectangular.height" [width]="rectangular.width" [color]="rectangular.color"-->
                            <!--                                      [x]="rectangular.x" [y]="rectangular.y" *ngFor="let rectangular of rectangulars"></svg-rect>-->
                            <!--                            <svg-path d="M 100 100 L 300 100 L 200 300 z"-->
                            <!--                                      fill="red" stroke="blue" stroke-width="3"></svg-path>-->
                        </svg-container>
                        <p class="map_text"></p>

                    </div>
                </div>
                <div class="maps_items">
                    <h3>Maps</h3>
                    <ul>
                        <li>Map1</li>
                        <li>Map2</li>
                        <li>Map3</li>
                        <li>Map4</li>
                        <li>Map5</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="node_information">
        <div class="content">
            <div class="node_content">
                <h3>Node information</h3>
                <form action="" class="mapBottomForm">
                    <select>
                        <option value="task">Task</option>
                        <option value="document">Document</option>
                        <option value="observation">Observation</option>
                    </select>
                    <input type="text" name="node_name" placeholder="Name">
                    <input type="text" name="file_path" placeholder="File path">
                    <input type="text" class="desc_text" name="desc" placeholder="Description">
                    <button type="button" class="btn" name="submit_save">Save</button>
                </form>
            </div>
        </div>

    </section>
</div>
